.topicList {
  /* border: 2px solid blue; */
  padding: 0;
  /* display: flex;
    flex-direction: row; */
}

.topicCard {
  display: flex;
  flex-direction: row;
  background-color: #36454f;
  border-radius: 10px;
  margin: 2.5%;
}
.topicCard:hover {
  /* border: 2px solid blue; */
  margin-top: 1.25%;
  margin-right: 3.75%;
  margin-left: 1.25%;
  margin-bottom: 2.5%;
  box-shadow: 3px 3px 3px 3px lightslategray;
}

.topicName {
  font-weight: bold;
  margin-left: 10px;
}

.topicDesc {
  font-size: small;
  margin-left: 10px;
}

.topicLink {
  text-decoration: none;
}